pool:
  name: Azure Pipelines
  demands: npm

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
    checkLatest: true

- task: Npm@1
  displayName: 'npm install'
  inputs:
    verbose: false

- task: PowerShell@2
  displayName: 'Execute Cypress'
  inputs:
    targetType: filePath
    filePath: 'node ./node_modules/cypress/bin/cypress run'
    errorActionPreference: continue
  continueOnError: true

- task: PublishTestResults@2
  displayName: 'Publish Test Results **/TEST-*.xml'
